[tool.poetry]
name = "ofsc"
version = "2.10.0"
license = "MIT"
description = "Python wrapper for Oracle Field Service API"
authors = ["Borja Toron <borja.toron@gmail.com>"]
readme = 'README.md'
repository = 'https://github.com/btoron/pyOFSC'


[tool.poetry.dependencies]
python = "^3.11"
requests = "^2.28.1"
pydantic = "^2.6.3"
cachetools = "^5.3.1"
pydantic-settings = "^2.2.1"

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.3"
pyarmor = "^7.6.0"
Faker = "^14.2.0"
openpyxl = "^3.0.10"
pyjwt = "^2.10.1"
cryptography = "^44.0.0"
pytest-env = "^1.1.5"
python-dotenv = "^1.0.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(asctime)s [%(levelname)8s] %(message)s (%(filename)s:%(lineno)s)"
log_cli_date_format = "%Y-%m-%d %H:%M:%S"

[tool.pytest_env]
RUN_ENV = 1
