[tool.poetry]
name = "ofsc"
version = "1.17"
license = "MIT"
description = "Python wrapper for Oracle Field Service API"
authors = ["Borja Toron <borja.toron@gmail.com>"]
readme = 'README.md'
repository = 'https://github.com/btoron/pyOFSC'


[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.28.1"
pytest = "^7.1.2"
pydantic = "^1.9.1"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
